html, body{
    height: 100%;
    margin: 0;

}




.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    align-items: center;
    background-color: #006666;
    color: #e6ffff;
    text-align: center;
}

.container h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 60px;
    color: #DDCCEE;
    margin-top: 80;
}


.container form{
    margin: 50px;
}

.container input{
    width: 350px;
    margin: 10px;
    height: 60px;
    padding: 20px;
    transition: all 0.2s ease-in-out;
}

.container button{
    margin: 60px;
    width: 150px;
    height: 50px;
    
}
 .message {
    color: red;
    font-size: medium;
    font-family: Arial, Helvetica, sans-serif;
 }